<h1>My postings</h1>
<input class="form-control" type="text" placeholder="Search your postings" [(ngModel)]="search" name="search">
<button type="button" class="btn btn-success btn-lg" id="dashboard_button" (click)="onSearchButton()">SEARCH</button>

<mat-grid-list cols="3" rowHeight="548px" gutterSize="10px" >
  <mat-grid-tile *ngFor="let item of items">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ item.itemName }}</mat-card-title>
          <mat-card-title>${{ item.itemCost }}</mat-card-title>
          <mat-card-subtitle>Category: {{ item.itemCategory }}</mat-card-subtitle>
        </mat-card-header>
        <div *ngIf="item.itemImage == null; else null"></div>
        <img mat-card-image src={{item.itemImage}}>
        <mat-card-content>
          <p>
            {{item.itemDescription}}
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button color="accent">EDIT</button>
          <button mat-raised-button color="primary">REMOVE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>