<h1>Publish a new item on your store!</h1>
<form style="margin-top:30px;" [formGroup]="newPostingForm" (ngSubmit)="createPosting()"> 
    <div class="form-group">
        <label>Item name:</label>
        <input type="text" class="form-control" autocomplete="off" formControlName="itemName">
    </div>
    <div class="form-group">
        <label>Price:</label>
        <input type="number" class="form-control" autocomplete="off" formControlName="itemCost">
    </div>
    <div class="form-group">
      <label>Description:</label>
      <textarea class="form-control" autocomplete="off" rows="2" maxlength="20" formControlName="itemDescription"></textarea>
    </div>

    <div class="form-group">
      <label>Select a category:</label>
      <select class="custom-select" formControlName="itemCategory">
        <option disabled selected>Choose a category</option>
        <option *ngFor="let key of keys(enumCategories)">{{key}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Quantity of items:</label>
      <select class="custom-select" formControlName="itemQuantity">
        <option selected>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>

    <div class="form-group">
      <label>Upload an image</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" formControlName="itemImage">
        <label class="custom-file-label" for="customFile">Browse</label>
      </div>
    </div>
</form>

<button type="button" class="btn btn-success btn-lg" (click)="createPosting()">CREATE POSTING</button>