<mat-vertical-stepper [linear]="true" #stepper cdkFocusInitial>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <input matInput [(ngModel)]="name" name="name" placeholder="Name" formControlName="firstCtrl" required autocomplete="off">
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Select your username</ng-template>
        <mat-form-field>
          <input matInput [(ngModel)]="username" name="username" placeholder="Username" formControlName="secondCtrl" required autocomplete="off">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Enter email</ng-template>
        <mat-form-field>
          <input type="email" matInput [(ngModel)]="email" name="email" placeholder="Email" formControlName="thirdCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Choose a password</ng-template>
        <mat-form-field>
          <input type="password" matInput [(ngModel)]="password" name="password" placeholder="Password" formControlName="fourthCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-raised-button color="accent" (click)="onRegisterSubmit()">Register</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

