body {
  text-align: center;
}

.home_container {
  width: 100%;
  height: 520px;
}

#title {
  font-size: 85px;
}

#image {
  width: 100% !important;
}

.text {
  vertical-align: top;
  display: inline-block;
}

.inputFields {
  text-align: left;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.mainForm {
  border-radius: 15px;
  background: #FEF9FF;
  text-align: center;
  float: right;
  width: 450px;
  height: 480px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 4px 5px 14px;
}

#firstImage {
  width: 100%;
  height: 100%;
}

#secondImage {
  width: 100%;
  height: 100%;
}